---
title: Landing
---

{% extends "./layout/document.html" %}

{% block body %}

    <div class="row">

        <div class="col-sm-3">
        </div>

        <div class="col-sm-9">

            <div class="ws-content-block">
                {{ box.offsetLarge() }}
            </div>
            <!--/ content-block -->

            <div class="row">
                
                <div class="col-md-6 ws-content-block">
                    {{ box.base() }}
                </div>
                <!--/ content-block -->

                <div class="col-md-6 ws-content-block">
                    {{ box.base() }}
                </div>
                <!--/ content-block -->

            </div>
            <!--/ row -->

            <div class="row">
                
                <div class="col-md-6 ws-content-block">
                    {{ box.inset() }}
                </div>
                <!--/ content-block -->

                <div class="col-md-6 ws-content-block">
                    {{ box.base() }}
                </div>
                <!--/ content-block -->

            </div>
            <!--/ row -->

            <div class="row">

                <div class="col-md-6 ws-content-block">
                    {{ box.base() }}
                </div>
                <!--/ content-block -->

                <div class="col-md-6 ws-content-block">
                    {{ box.inset() }}
                </div>
                <!--/ content-block -->

            </div>
            <!--/ row -->

            <div class="row">
                
                <div class="col-md-6 ws-content-block">
                    {{ box.insetAlt() }}
                </div>
                <!--/ content-block -->

                <div class="col-md-6 ws-content-block">
                    {{ box.base() }}
                </div>
                <!--/ content-block -->

            </div>
            <!--/ row -->

            <div class="row">
                
                <div class="col-md-6 ws-content-block">
                    {{ box.base() }}
                </div>
                <!--/ content-block -->

                <div class="col-md-6 ws-content-block">
                    {{ box.insetAlt() }}
                </div>
                <!--/ content-block -->

            </div>
            <!--/ row -->

            <div class="row">

                <div class="col-md-6 ws-content-block">
                    {{ circle.base() }}
                </div>
                <!--/ content-block -->

                <div class="col-md-6 ws-content-block">
                    {{ box.base() }}
                </div>
                <!--/ content-block -->

            </div>
            <!--/ row -->

            <div class="row">
                    
                <div class="col-md-6 ws-content-block">
                    {{ box.base() }}
                </div>
                <!--/ content-block -->

                <div class="col-md-6 ws-content-block">
                    {{ circle.base() }}
                </div>
                <!--/ content-block -->

            </div>
            <!--/ row -->

            <div class="ws-content-block">
                {{ box.offsetLarge() }}
            </div>
            <!--/ content-block -->

            <div class="row">
                
                <div class="col-sm-4 ws-content-block">
                    {{ stacked.base() }}
                </div>
                <!--/ content-block -->

                <div class="col-sm-4 ws-content-block">
                    {{ stacked.base() }}
                </div>
                <!--/ content-block -->

                <div class="col-sm-4 ws-content-block">
                    {{ stacked.base() }}
                </div>
                <!--/ content-block -->

            </div>
            <!--/ row -->

        </div>

    </div>
    
{% endblock %}