/*****************************************
    Module: Stacked
 ******************************************/

 .ws-stacked {
    display: block;
    margin-bottom: 45px;
    text-align: center;
    position: relative;
    text-decoration: none;
}

.ws-stacked__heading {
    font-size: 16px;
    margin: 0 0 12px;
    font-family: inherit;
    font-weight: normal;
    color: #000;
    text-transform: uppercase;
    line-height: 1.32;
    text-align: center;
    text-decoration: none;
}

.ws-stacked__img {
    background: no-repeat 50% 50%;
    background-size: cover;
    margin: 0 -10px 16px;

    @include ratio-container(235, 182);
}

@media (min-width: 768px) {
    .ws-stacked__img {
        margin: 0 0 20px;
    }
}
